.dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.dashboard h1 {
  color: #e1003c;
}

#logo {
  width: 200px;
  height: 200px;
  background: url("../assets/holberton-logo.jpg");
  background-size: 200px 200px;
}
